.examples-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.wip-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-example {
    color: yellow;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.examples-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
}

@media (max-width: 500px) {
    .examples-grid {
        display: grid;
        grid-template-columns: repeat(2, 180px);
        place-items: center;
        margin-top: 20px;
    }
    .title-example {
        margin-top: 10px;
        color: yellow;
        font-size: 1.2rem;
    }
}