@import url("main.css");
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 100px;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 2px solid black;
    position: fixed;
    font-family: var(--font-family);
    background-color: blue;
}

footer img {
    width: 30px;
    height: 30px;
}