@import url("main.css");
.global-header-container {
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
    border: 1px solid black;
}

.lang-selector {
    height: 40px;
    font-family: var(--font-family);
    color: var(--color);
    padding: 5px;
}

h2 {
    margin-left: 0;
    letter-spacing: 2px;
}

.back-button {
    position: absolute;
    left: 20px;
    font-family: var(--font-family);
    font-size: 1.1rem;
}