@import url("main.css");
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: sticky;
    gap: 50px;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 2px solid black;
    font-family: var(--font-family);
    background-color: blue;
}

footer img {
    width: 25px;
    height: 25px;
}

.contact-me {
    color: white;
    font-weight: 600;
}