@import url('main.css');
.home-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(1, 150px);
    justify-content: center;
    margin-top: 50px;
    margin-left: 20px;
}

.box-link {
    border-radius: 10px;
    border: 2px solid black;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-link:hover {
    border: 5px solid red;
}

.link {
    font-family: var(--font-family);
    letter-spacing: 1px;
}