@import url("main.css");
.main-home-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

header {
  font-size: 3rem;
}

h1 {
  background: linear-gradient(
    to right top,
    #b8d1f8,
    #57e1ff,
    #00efee,
    #00f49b,
    #a8eb12
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.body-home-container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(1, 150px);
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
}

.link:hover {
  border: 5px solid rgb(247, 255, 26);
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 15px;
  border: 4px solid #010448;
  box-shadow: inset -3px -3px 4px #010665;
  background: linear-gradient(#848afd, #474ff3);
  color: white;
  text-decoration: none;
  font-family: var(--font-family);
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.wave-hand {
  display: inline-block;
  color: white;
  animation: greeting 2s ease infinite;
}

@keyframes greeting {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  .body-home-container {
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(3, 100px);
    margin-top: 10px;
    margin-left: 0px;
  }
  header {
    font-size: 1.7rem;
    text-align: center;
    padding: 10px 5px 0px 5px;
  }

  .link {
    font-size: 1.1rem;
  }
}
