@import url("main.css");
.introduction-container {
    display: grid;
    grid-template-columns: 66% 33%;
    border: 2px solid black;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 20px;
}

.personal-title {
    font-family: var(--font-family);
    font-size: 1.6rem;
    margin-left: 10%;
    margin-top: 30px;
}

.personal-text {
    font-family: var(--font-family);
    font-size: 1.2rem;
    text-align: center;
    padding: 5px 15px 5px 15px;
    line-height: 1.5;
}

.personal-img {
    width: 400px;
    height: 250px;
    padding: 20px 15px 10px 15px;
    margin-left: auto;
    margin-right: auto;
}

.studies-container {
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: var(--font-family);
    font-size: 1.2rem;
}

.studies-list {
    line-height: 1.6;
}

.other-studies-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10%;
    margin-right: 10%;
}

.other-studies {
    margin-top: 20px;
    font-family: var(--font-family);
    font-size: 1.2rem;
}

.other-courses {
    display: inline-block;
    margin-left: 15px;
    margin-right: 25px
}

.other-title {
    font-family: var(--font-family);
    font-size: 1.6rem;
    margin-top: 15px;
}