@import url("main.css");
.introduction-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.personal-title {
    font-family: var(--font-family);
    font-size: 2rem;
    margin-left: 10%;
    margin-top: 30px;
}

.personal-text {
    font-family: var(--font-family);
    font-size: 1.2rem;
    text-align: center;
    padding: 10px 15px 10px 15px;
    line-height: 1.5;
}

.personal-img {
    width: 400px;
    height: 250px;
    padding: 20px 15px 10px 15px;
    margin-left: auto;
    margin-right: auto;
}