@import url("main.css");
.work-experience-container {
    overflow: auto;
}

.section-container {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 20px;
    color: white;
}

.dev-position-title {
    color: rgb(225, 225, 32);
    font-weight: bold;
}

.personal-title {
    font-family: var(--font-family);
    font-size: 1.1rem;
    margin-left: 10%;
    margin-top: 30px;
    color: white;
}

.company-name {
    display: block;
    width: auto;
    font-family: var(--font-family);
    font-size: 0.95rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.jobs-description-list {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 0.8rem;
}

.fav-stack-btn {
    margin-left: 10px;
    padding: 4px;
    padding-right: 8px;
    border-radius: 4px;
    border: 2px solid rgb(0, 3, 79);
    box-shadow: 2px 2px 2px rgb(0, 3, 79);
    background: rgba(113, 165, 255, 0.9);
    font-size: 0.9rem;
    font-family: var(--font-family);
}

.fav-stack-btn:hover {
    background: rgba(53, 76, 248, 0.9);
    color: yellow;
}