@import url("main.css");
.work-experience-container {
    overflow: auto;
}

.section-container {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 20px;
    color: white;
}

.personal-title {
    font-family: var(--font-family);
    font-size: 1.1rem;
    margin-left: 10%;
    margin-top: 30px;
    color: white;
}

.company-name {
    display: block;
    width: auto;
    font-family: var(--font-family);
    font-size: 0.95rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.jobs-description-list {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 0.8rem;
}

.fav-stack-btn {
    margin-left: 10px;
    padding: 4px;
    padding-right: 8px;
    border-radius: 4px;
    border: 1px solid rgb(66, 66, 66);
    font-size: 1rem;
}